data/*
!data/README.md

.ipynb_checkpoints/
__pycache__/
*.pyc

*.pt
*.pkl
/anaconda_projects

notebooks_draft/
*_experiments.ipynb
*scratch*.ipynb

models/*
!models/.gitkeep

*.pth
*.pt
*.ckpt
*.joblib